@model Movie
@{
    ViewBag.Title = "Add";
}

<h2>Add a new movie</h2>

<form asp-action="Add" method="post">

    <partial name="_MovieDetails" model="@Model" />


    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>

    </div>

</form>
